<!-- templates/index.html -->
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block content %}
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->


<form action = "/" id='forms'> 
    <br/>
    <!-- asks user for input (input type is plain text) and sets the user input to "q" which will be used for query = request.args.get('q') in app.py -->
    <input type = "text" name = "q">
    <input type="Submit"> 
    <br/>
    <br/>
     
</form>


<!-- style="color: #ffffff; 
 font-family: Verdana; font-weight: bold; 
 fontsize: 12px;"  
 size="10" maxlength="30"
 this is style for the submit box and stuff -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

    <!-- iterates through all elements of the response_json dictionary and then parses all the relvent info of gifs to display them -->
   {% if results != [] %}
        <p id='gifs'>
        {% for gif in results %}
            {% include "gif.html" %}
        {% endfor %}
        </p>
    {% else %}
        <p>
            No gifs found
        </p>
    {% endif %}

{% endblock %}                         
<!-- in jinja2, even if your end block is commented out, jinj2 will still count it                      -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->





<!-- 
<form action='/compliment'>
    <p>
        <input name="Gifs" value="" size="80">
        <input type="Submit" value="Submit">  
    </p>
</form>
<p>
    What do you want to find?
    <input type="text" query = query/>
</p>
<p>
    <input type="checkbox" name="show_compliments"/>
    Show Compliments
</p>
<p>
    How many compliments?
    <select name="num_compliments">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</p>
<h1>HERE</h1> -->
